body {
    font-family: 'Poppins', sans-serif;
    color: palevioletred;
}
.contenedor {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    background: #fff;
    text-align: center;
}
.titulo {
    font-size: 2rem;
    margin: 1rem 0;
}
.buscar-caja {
    display: flex;
    justify-content: center;
    margin: 1.5rem 0;
}
.control-busqueda {
    padding: 0.5rem;
    width: 70%;
    font-size: 1rem;
}
.boton-busqueda {
    padding: 0.5rem 1rem;
    background-color: palevioletred;
    color: #fff;
    border: none;
    cursor: pointer;
}
.resultado-comida {
    margin: 2rem 0;
}
.comida-item {
    border-radius: 1rem;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.79);
    margin: 2rem 0;
}
.comida-img img {
    width: 100%;
    border-radius: 10px 10px 5px 5px;
}
.comida-nombre {
    padding: 1rem;
}
.boton-receta {
    background: palevioletred;
    color: white;
    padding: 0.5rem;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 5px;
}
.detalles-comida {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: palevioletred;
    color: #fff;
    padding: 2rem;
    border-radius: 1rem;
    display: none;
}
.cerrar-detalles {
    background: white;
    color: palevioletred;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 50%;
}
.categorias{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.ventana img{
    width: 40%;
    height: 40%;

    border-radius: 10px;
    margin-top: 1rem;
}
.ventana p{
    font-family: 'Courier New', Courier, monospace;
    margin-top: 1rem;
}
.nombres{
    display: grid;
    grid-template-rows: repeat(2, 1f1);
    grid-template-columns: repeat(1, 1fr);
}

@media (min-width: 768px) {
    #comida {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
}

@media (min-width: 992px) {
    #comida {
        grid-template-columns: repeat(3, 1fr);
    }
}
